/***
  Stylesheet von Rui Santos übernommen. Abrufbar auf https://randomnerdtutorials.com/esp8266-web-server-spiffs-nodemcu/
  Letzter Zugriff 5.10.2021.
***/

html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1 {
  color: #0F3376;
  padding: 2vh;
}
p {
  font-size: 1.5rem;
}
.units {
  font-size: 1.2rem;
 }
.sensor-labels {
  font-size: 1.5rem;
  vertical-align:middle;
  padding-bottom: 15px;
}
